.no-svg {
  .fourier, 
  .screen {width: auto;}
  .navbar-brand img {width: 100%;}
}
.lt-ie9 {
  .main-nav .navbar-collapse {
    background: #ffffff;
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    border: 1px solid;
  }
  .navbar-collapse {
    width: 25%;
    float:right;
    background: #fffff;
    
  }
  .intro-message {
    h1 {font-size: em(70px);}
    h2 {font-size: em(40px);}
    p {font-size: em(24px);}
    a {width: 200px;margin-top: 25px;margin-right: 25px;}
  }
  .feat-description {width: 50%;}
  .benefits-item {width: 33.333333%;}
  .company-shot {height: 400px;}
  .footer li {width: 33.333333%;}

  .modal {
    margin: auto;
    max-width: 600px;
    overflow: hidden;
  }
}
.ie9 {
  .navbar-brand {
    width: 150px;
    height: 70px;
    line-height: 1;
  }
}