.footer {
	width: 100%;
	margin-bottom: 0;
	background: $pico-gray-light;
	
	li {
		padding: 75px 0 50px;
		font-size: em(22px);
		p.copyright {
			font-size: em(10px);
			font-weight: bold;
			a {color: $black; text-decoration: none;}
			
		}
	}
	.glyphicon {
		margin-bottom: 15px;
		font-size: em(28px);
		color: $pico-gray-mid;
	}
}