.modal-content {
	font-family: $font-family-sans-serif;
	font-weight: 300;
	overflow: hidden;

	.modal-header {background: $pico-gray-light;}
	.modal-title {font-weight: 300;}
	label {
		font-size: em(14px);
		font-weight: 300;
	}

	button:hover {
		border: 3px solid $pico-blue;
	}
}

.mc_embed_signup {
	#mce-response {
		// margin-bottom: 100px;
	}
}
