.jumbotron.product-key {
	background: transparent;
}
div.key-features,
.key-features.row,
	{height: 100% !important;}
.product-key img {width: 100%;}

.key-features {
	overflow: hidden;
	padding: 20px 40px;
	h1 {margin: 25px auto;}
}

.feat-description {
	margin-top: 15px; 

	h2 {font-weight: 400;}
}


@media (min-width: $screen-md){
	.key-features {
		position: absolute;
		top: 0;
		right: 0;
		width: 33.33333%;
		color: $white;
		p {
			font-size: em(20px);
			line-height: 1.4;
		}
	}
	.features {
		position: relative;
	}
	.feat-description {
		position: absolute;
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
		opacity: 0;

	}
	.feat-description.is-active {
		@include vendor-prefix(transition, all 900ms ease);
		opacity: 1;
	}

}

 @media (min-width: $screen-md) and (max-width: 1160px){
 	.key-features {
 		h1 {
 			font-size: em(36px);
 			margin-bottom: 10px;
 			}
		}
		.feat-description {padding-right: 0;}
		.feat-description p {font-size: em(18px);}
	}

	@media (min-width: $screen-lg){
		.key-features {
			h1 {font-size: em(55px); line-height: 1;}
			p {line-height: 1.75;}
		}
		.feat-description {
			margin-top: 15px; 
		}
	}