.signup {
	ul {
		padding: 0;
		margin: 0;
		text-align: center;
		li {
			margin: 25px 0;
			list-style-type: none;
			line-height: 1.5;
		}
	}
	span { 
		color: $pico-orange;
		margin: 0 10px; 
	}
	.btn-primary {
		margin-left: 0;
		margin-right: 0; 
	}
	.btn-primary:hover {
		border: 3px solid $pico-blue;
	}
}