.testimonial {
	.carousel-caption p {
		font-size: em(28px);
		font-style: italic;
		line-height: 1.5;
	}
	.carousel-indicators li {
		margin: 0 5px;
	}

	.carousel-caption {
	  z-index: 1;
	  bottom: 40px;
	}

	.carousel .item {
	  height: 300px;
	  background-color:#555;
	}
	.carousel img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  min-height: 300px;
	}
}