.btn-primary, 
.btn-secondary {
	margin: 25px 0;
}


.btn-primary {
	@include vendor-prefix(transition, all 300ms ease);
	padding: 10px 25px;
	background: $pico-blue;
	border: 3px solid $pico-blue;
	color: $white;
	margin-right: 20px;
	text-transform: uppercase;
	border-radius: 0;
	&:hover {
		background: $white;
		color: $pico-blue;
		border-color: $white;
	}
}

.btn-secondary {
	@include vendor-prefix(transition, all 300ms ease);
	padding: 10px 25px;
	$background: transparent;
	border: 3px solid $white;
	color: $white;
	text-transform: uppercase;
	border-radius: 0;
	&:hover {
		background: $pico-blue;
		border-color: $pico-blue;
		color: $white;
	}
	
}

.jumbotron .btn {
	padding: 10px 25px !important;
	font-size: em(16px) !important;
}

.btn-sm {
	padding: 5px 10px !important;
	&:hover {
		border: 1px3px solid $white;
	}
}